body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
}

nav {
    /* position: absolute; */
    width: 1927px;
    min-height: 80px;
    background: linear-gradient(270deg, #52A93C 0%, rgba(106, 207, 80, 0.71) 100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
#logo {
    width: 60px;
    margin-left: 1em;
}

.rightSide {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
    box-sizing: border-box;
}
.rightSide a {
    position: relative;
    margin: 0 1em;
    padding: 0 10px;
    text-decoration: none;
}
.rightSide a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -7px;
    transition: .3s;
}
.rightSide a:hover:after {
    width: 100%;
}
nav a {
    color: white;
    font-size: 700;
}





main {
    background-image: url("images/mainImage.jpg");
    background-position: center -10px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
h1 {
    color: white;
    width: 700px;
    height: 484px;
    text-align: center;
    line-height: 1.5;
    font-size: 4em;
    margin-top: 2em;
    margin-left: 4em;
    /* letter-spacing: 4px; */


    text-shadow: 6px 6px 0px rgba(0,0,0,0.4);

}

.quickLinks {
    position: absolute;
    right: 300px;
}
.quote {
    width: 400px;
    height: 100px;
    background-color: white;
    margin-bottom: 2em;
}
.quote p {
    position: absolute;
    margin-left: 15px;
}
.topText {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 1.4em;
}
.bottomText {
    margin-top: 60px;
    color: #404040;
}
.services {
    width: 400px;
    height: 100px;
    background-color: white;
    margin-top: 2em;
}
.services p {
    position: absolute;
    width: 280px;
    margin-left: 15px;
}
.topText2 {
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 14px;
}
.bottomText2 {
    margin-top: 49px;
    font-size: .9em;
    color: #404040;
}

.arrow {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    background: linear-gradient(90deg, #52A93C 0%, rgba(106, 207, 80, 0.71) 100%);
    color: white;
    display: flex;
    align-items: center;
    opacity: 100%;
    transition: all .2s ease-in-out;
}
.arrow p {
    width: auto;
    font-size: 60px;
    margin-left: 23px;
}
.arrow:hover {
    opacity: 70%;
}



.ourBusiness {
    height: 55vh;
    display: flex;
    align-items: center;
}
.topUnderline {
    background-color: black;
    height: 6px;
    width: 23.5%;
}
.textBusiness {
    width: 50%;
    margin-left: 4em;
    line-height: 2.8;
    background-color: rgba(140,140,140,.4);
    border-radius: 10px;
    padding: 40px 30px;
}
.textBusiness h2 {
    margin-top: -.7em;
    font-size: 2.2em;
}
.leftTextBusiness {
    margin-bottom: 2em;
    line-height: 2;
}
.rightTextBusiness {
    text-align: right;
    margin-top: 2em;
    line-height: 2;
}
.businessImage {
    margin-left: 8em;
}
.businessImage img {
    width: 500px;
}





.movingContainer {
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("images/movingBackground.jpg");
    
    color: black;
    position: relative;
    height: 100px;
    overflow: hidden;
  }
  .box {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 80%;
    white-space: nowrap;
    background-color: white;
    opacity: 80%;
    animation: moveText 11s linear infinite;
  }
  .box span {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
    font-size: 1.8em;
  }
  @keyframes moveText {
    0% { transform: translateX(200%); }
    100% { transform: translateX(-100%); }
  }
